{%- assign text=include.text | default: "" -%}
{%- assign lines=text | strip | newline_to_br | replace: "<br />", "<br>" | replace "<br/>", "<br>" | strip_newlines | split: "<br>" -%}
<pre class="algorithm">{%- for line in lines -%}<span class="algoN"></span><span class="algoC">{{ line -}}</span><br>{%- endfor -%}</pre>
