{%- if include.url and include.url != "" -%}
    {%- assign opentag = '<a href="' | append: include.url | append: '" class="langInnerA" ' -%}
    {%- assign closetag = '</a>' -%}
{%- else -%}
    {%- assign opentag = '<span class="langInnerS" ' -%}
    {%- assign closetag = '</span>' -%}
{%- endif -%}
{{- opentag -}}lang="{%- if include.lang and include.lang != "" -%}{{- include.lang -}}{%- else -%}zh-Hans{%- endif -%}">{{- include.text -}}{{- closetag -}}
