{%- assign put_link = include.put_link | default: true, allow_false: true -%}
{%- if include.person.url and put_link -%}<a href="{{- include.person.url -}}">{%- endif -%}
{{- include.person.name -}}
{%- if include.person.url and put_link -%}</a>{%- endif -%}
{%- if include.person.name_cn -%}&nbsp;({%- if include.person.url_cn and put_link -%}<a href="{{- include.person.url_cn -}}">{%- endif -%}{{- include.person.name_cn -}}{%- if include.person.url_cn and put_link -%}</a>{%- endif -%}){%- endif -%}
