{%- assign no_links = include.no_links | default: false -%}
{%- if person.name = "Thomas Weise" -%}
    {%- assign no_links = true -%}
{%- endif -%}
{%- assign person=include.person -%}
{%- unless person.name -%}
    {%- assign person=site.data.people[person] -%}
{%- endunless -%}
{%- assign p_url = nil -%}
{%- assign p_url_cn = nil -%}
{%- unless no_links -%}
    {%- if person.url -%}
        {%- assign p_url = person.url -%}
    {%- endif -%}
    {%- if person.url_cn -%}
        {%- assign p_url_cn = person.url_cn -%}
    {%- endif -%}
{%- endunless -%}
{%- if p_url -%}<a href="{{- p_url -}}">{%- endif -%}
{{- person.name -}}
{%- if p_url -%}</a>{%- endif -%}
{%- if person.name_cn -%}&nbsp;({%- if p_url_cn -%}<a href="{{- p_url_cn -}}">{%- endif -%}{{- person.name_cn -}}{%- if p_url_cn -%}</a>{%- endif -%}){%- endif -%}
