{%- assign no_links = include.no_links | default: false -%}
{%- assign person = include.person -%}
{%- unless person.name -%}
    {%- assign person = site.data.people[person] -%}
{%- endunless -%}
{%- assign p_url = nil -%}
{%- assign p_url_cn = nil -%}
{%- if person.no_links -%}
    {%- assign no_links = true -%}
{%- endif -%}
{%- unless no_links -%}
    {%- if person.url -%}
        {%- assign p_url = person.url -%}
    {%- endif -%}
    {%- if person.url_cn -%}
        {%- assign p_url_cn = person.url_cn -%}
    {%- endif -%}
{%- endunless -%}
{%- if p_url -%}<a href="{{- p_url -}}">{%- endif -%}
{{- person.name -}}
{%- if p_url -%}</a>{%- endif -%}
{%- if person.name_cn -%}&nbsp;{%- include lang.liquid text=person.name_cn url=p_url_cn lang=person.lang_cn -%}{%- endif -%}
