{% for author in paper.authors %}{{site.data.people[author] | markdownify | remove: '<p>' | remove: '</p>' | strip}}{% unless forloop.last %}, {% endunless %}{% endfor %}.
{{paper.citation | markdownify | remove: '<p>' | remove: '</p>' | strip}}.
{{paper.links | markdownify | remove: '<p>' | remove: '</p>' | strip}}
