{% for author in include.paper.authors %}{% assign person=site.data.people[author] %}{% include person.liquid person=person %}{% unless forloop.last %}, {% endunless %}{% endfor %}.
{{include.paper.citation | markdownify | remove: '<p>' | remove: '</p>' | strip}}.
{{include.paper.links | markdownify | remove: '<p>' | remove: '</p>' | strip}}
