{% for author in paper.authors %}{% include person.liquid person=site.data.people[author] %}{% unless forloop.last %}, {% endunless %}{% endfor %}.
{{paper.citation | markdownify | remove: '<p>' | remove: '</p>' | strip}}.
{{paper.links | markdownify | remove: '<p>' | remove: '</p>' | strip}}
