{%- capture pubtext -%}
{%- for paper in include.papers -%}
<li>{%- include publication.liquid paper=paper -%}</li>
{%- endfor -%}
{%- endcapture -%}
<ol style="font-size:smaller">{{- pubtext | remove: '<p>' | remove: '</p>' | strip | normalize_whitespace | replace: " ,", "," -}}</ol>
