{%- assign pubsshort = include.shorter | default: false -%}
{%- capture pubtext -%}
    {%- for paper in include.papers -%}
        {%- include publication.liquid paper=paper short=pubsshort -%}
    {%- endfor -%}
{%- endcapture -%}
<ul class="publist">
    {{- pubtext | remove: '<p>' | remove: '</p>' | strip | normalize_whitespace | replace: " ,", "," -}}
</ul>
