{%- assign entries_layout = page.entries_layout | default: 'list' -%}
{%- assign use_tag=include.tag | strip -%}
<div class="entries-{{ entries_layout }}">
    {%- for post in site.tags[use_tag] -%}
        {%- include archive-single.html -%}
    {%- endfor -%}
</div>
