{%- assign use_tag=include.tag | strip -%}
{%- assign posts=site.tags[use_tag] -%}
{%- if posts and posts.size > 0 -%}
    {%- assign prefix=include.prefix | default: "" -%}
    {%- if prefix != "" -%}{{- prefix -}}{%- endif -%}
    {%- assign entries_layout = page.entries_layout | default: 'list' -%}
    {%- assign base_tag=include.base_tag | default: "h3" -%}
    <div class="entries-{{ entries_layout }}">
        {%- for post in posts -%}
            {%- include archive-single.html base_tag=base_tag -%}
        {%- endfor -%}
    </div>
{%- endif -%}
