.imgFig {
    padding: 4px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: 100%;

    .imgFigImg {
        margin-top: 0pt;
        margin-bottom: 0.33em;

    .imgCapt {
        font-style: italic;
        text-align: center;
        display: table-caption;
        caption-side: top;
    }

    .imgNum {
        font-weight: bold;
    }
}
