.publist {
    font-size: smaller;
}

.pubarticle {
    background-color: mix($background-color, rgba(10, 0, 0, 0.5));
}

.pubconference {
    background-color: mix($background-color, rgba(0, 0, 10, 0.5));
}

.pubbook {
    background-color: mix($background-color, rgba(0, 0, 10, 0.5));
}

.pubchapter {
    background-color: mix($background-color, rgba(10, 10, 0, 0.5));
}

.pubproceedings {
    background-color: mix($background-color, rgba(10, 0, 10, 0.5));
}
