.publist {
    font-size: smaller;
}

.pubarticle {
    background-color: rgba(255, 0, 0, 0.05);
}

.pubconference {
    background-color: rgba(0, 0, 255, 0.05);
}

.pubbook {
    background-color: rgba(0, 255, 0, 0.05);
}

.pubchapter {
    background-color: rgba(255, 0, 255, 0.05);
}

.pubproceedings {
    background-color: rgba(255, 255, 0, 0.05);
}

.pubthesis {
    background-color: rgba(128, 0, 0, 0.05);
}

.pubrefs {
    font-size: 99%;
}

.publinks {
}

.pubindex {
    font-size: smaller;
}

.pubtags {
}

@mixin pubframed($r: 0, $g: 0, $b: 0) {
    border-style: solid;
    border-width: thin;
    border-radius: 0.2em;
    white-space: nowrap;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.08em;
    padding-bottom: 0.08em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    text-decoration: none !important;
    color: rgba(0.5 * $r, 0.5 * $g, 0.5 * $b, 0.9);
    border-color: rgba($r, $g, $b, 0.6);
    background-color: rgba($r, $g, $b, 0.06);

    &:hover {
        color: rgba(0.4 * $r, 0.4 * $g, 0.4 * $b, 0.9) !important;
        border-color: rgba(0.9 * $r, 0.9 * $g, 0.9 * $b, 0.6) !important;
        background-color: rgba(0.9 * $r, 0.9 * $g, 0.9 * $b, 0.6) !important;
        text-decoration: none !important;
        border-radius: 0.4em;
    }
    &:focus {
        color: rgba(0.4 * $r, 0.4 * $g, 0.4 * $b, 0.9);
        border-color: rgba(0.9 * $r, 0.9 * $g, 0.9 * $b, 0.6);
        background-color: rgba(0.9 * $r, 0.9 * $g, 0.9 * $b, 0.6);
        text-decoration: none !important;
    }
    &:link {
        color: rgba(0.5 * $r, 0.5 * $g, 0.5 * $b, 0.9);
        border-color: rgba($r, $g, $b, 0.6);
        background-color: rgba($r, $g, $b, 0.06);
        text-decoration: none !important;
    }
    &:visited {
        color: rgba(max(0.5 * $r, 0.4 * max($r, $g, $b)), max(0.5 * $g, 0.4 * max($r, $g, $b)), max(0.5 * $b, 0.4 * max($r, $g, $b)), 0.9);
        border-color: rgba(max(0.9 * $r, 0.9 * max($r, $g, $b)), max(0.9 * $g, 0.9 * max($r, $g, $b)), max(0.9 * $b, 0.9 * max($r, $g, $b)), 0.6);
        background-color: rgba(max($r, 0.9*max($r, $g, $b)), max($g, 0.9*max($r, $g, $b)), max($b, 0.9*max($r, $g, $b)), 0.06);
        text-decoration: none !important;
    }
    &:active {
        color: rgba(0.5 * $r, 0.5 * $g, 0.5 * $b, 0.9);
        text-decoration: none !important;
    }
}

.pubtag {
    @include pubframed($r: 200)
}

.pubinfos {
    @include pubframed($g: 200)
}
