.publist {
    font-size: smaller;
}

.pubarticle {
    background-color: rgba(255, 0, 0, 0.05);
}

.pubconference {
    background-color: rgba(0, 0, 255, 0.05);
}

.pubbook {
    background-color: rgba(0, 255, 0, 0.05);
}

.pubchapter {
    background-color: rgba(255, 0, 255, 0.05);
}

.pubproceedings {
    background-color: rgba(255, 255, 0, 0.05);
}

.pubthesis {
    background-color: rgba(128, 0, 0, 0.05);
}

.pubrefs {
    font-size: 99%;
}

.publinks {
}

.pubindex {
    font-size: smaller;
}

.pubtags {
}

.pubframed {
    border-style: solid;
    border-width: thin;
    border-radius: 0.02em;
    white-space: nowrap;
    text-decoration: none;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.08em;
    padding-bottom: 0.08em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
}

.pubtag {
    @extend .pubframed;
    color: rgba(100, 0, 0, 0.9);
    border-color: rgba(200, 0, 0, 0.6);
    background-color: rgba(200, 0, 0, 0.06);
}

.pubtag:link {
    @extend .pubtag;
}

.pubtag:visited {
    @extend .pubtag;
}

.pubtag:hover {
    @extend .pubtag;
    color: rgba(80, 0, 0, 0.9);
    border-color: rgba(180, 0, 0, 0.6);
    background-color: rgba(180, 0, 0, 0.06);
}

.pubtag:active {
    @extend .pubtag;
}

.pubtag:focous {
    @extend .pubtag:hover;
}

.pubinfos {
    @extend .pubframed;
    color: rgba(0, 100, 0, 0.9);
    border-color: rgba(0, 200, 0, 0.6);
    background-color: rgba(0, 200, 0, 0.06);
}

.pubinfos:link {
    @extend .pubinfos;
}

.pubinfos:visited {
    @extend .pubinfos;
}

.pubinfos:hover {
    @extend .pubinfos;
    color: rgba(0, 80, 0, 0.9);
    border-color: rgba(0, 180, 0, 0.6);
    background-color: rgba(0, 180, 0, 0.06);
}

.pubinfos:active {
    @extend .pubinfos;
}

.pubinfos:focus {
    @extend .pubinfos:hover;
}
