.publist {
    font-size: smaller;
}

.pubarticle {
    color: #0F0000;
}

.pubconference {
    color: #00000F;
}

.pubbook {
    color: #000F00;
}

.pubchapter {
    color: #000F0F;
}

.pubproceedings {
    color: #0F0F00;
}
