.publist {
    font-size: smaller;
}

.pubarticle {
    background-color: #FFF0F0;
}

.pubconference {
    background-color: #F0F0FF;
}

.pubbook {
    background-color: #F0FFF0;
}

.pubchapter {
    background-color: #FFFFF0;
}

.pubproceedings {
    background-color: #F0FFFF;
}
