.publist {
    font-size: smaller;
}

.pubarticle {
    background-color: rgba(255, 0, 0, 0.035);
}

.pubconference {
    background-color: rgba(0, 0, 255, 0.035);
}

.pubbook {
    background-color: rgba(0, 255, 0, 0.035);
}

.pubchapter {
    background-color: rgba(255, 0, 255, 0.035);
}

.pubproceedings {
    background-color: rgba(255, 255, 0, 0.035);
}

.pubthesis {
    background-color: rgba(128, 0, 0, 0.035);
}

.pubrefs {
    font-size: 99%;
}

.publinks {
}

.pubindex {
    font-size: smaller;
}

.pubtags {
}

.pubtag {
    border-style: solid;
    white-space: nowrap;
    border-color: rgba(200, 0, 0, 0.6);
    background-color: rgba(200, 0, 0, 0.06);
}

.pubinfos {
    white-space: nowrap;
    background-color: rgba(0, 128, 0, 0.06);
}
