.publist {
    font-size: smaller;
}

.pubarticle {
    background-color: rgba(255, 0, 0, 0.05);
}

.pubconference {
    background-color: rgba(0, 0, 255, 0.05);
}

.pubbook {
    background-color: rgba(0, 255, 0, 0.05);
}

.pubchapter {
    background-color: rgba(255, 0, 255, 0.05);
}

.pubproceedings {
    background-color: rgba(255, 255, 0, 0.05);
}
