---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---
/*!* test test test */
html {color:red;
background-color:red;
}
@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {color:red;
background-color:red;
}
