---
layout: single
---

{{ content }}

{%- assign tag=page.print_tag | strip -%}
{%- assign base_tag="h2" -%}
{%- assign prefix="" -%}
{%- assign papers=site.data.publications | where_exp: "item", "item.tags contains tag" -%}
{%- if papers.size > 0 -%}
    {%- assign base_tag="h3" -%}
    {%- assign prefix="<h2>Posts</h2>" -%}
    {% include tag_posts.liquid tag=page.print_tag base_tag=base_tag prefix=prefix -%}
    <h2>Publications</h2>
    {%- include publications.liquid papers=papers shorter=true -%}
{%- else -%}
    {% include tag_posts.liquid tag=page.print_tag base_tag=base_tag prefix=prefix -%}
{%- endif -%}
